html, body{
    padding: 0;
    margin: 0;
    width: 100%;
}

#earth_div{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(49, 49, 65, 1);
    position: absolute !important;
}

.audioDevices {
    position: fixed;
    width: 100%;
    bottom: 120px;
    z-index: 1000;
}

.micAudio {
    float: left;
    margin-top: 12px;
    margin-right: 8px;
}

.select {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.select select {
    margin-top: 12px;
}

.selectInput {
    top: 15px;
    left: 15px;
    position: absolute !important;
}

.selectOutput {
    top: 60px;
    left: 15px;
    position: absolute !important;
}

.select-wrapper {
    float: right;
}

.select-wrapper input.select-dropdown {
    margin: 0 0 0px 0;
}

.select-dropdown {
    color: #9e9e9e;
}
.select-wrapper .caret {
    fill: rgba(255,255,255,0.87) !important;
}

.nav {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainHeader {
    position: absolute;
    font-family: Raleway;
    font-weight: 100;
    position: absolute;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    width: 260px;
    height: 200px;
    margin: 0;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate {
position: absolute;
transform: rotate(22.5deg);
font-style: normal;
}

.rotate-2 {
position: absolute;
transform: rotate(22.5deg);
font-style: normal;
top: 60px;
}

.rotate-3 {
position: absolute;
transform: rotate(22.5deg);
font-style: normal;
top: 120px;
}

.rotate-4 {
    position: absolute;
    font-style: normal;
    top: 170px;
    font-size: 9px;
    letter-spacing: 4px;
}

.rotate:hover, .rotate-2:hover, .rotate-3:hover {
transform: rotate(0deg);
transition: .5s all ease-in-out;
cursor: default;
}


h2 {
    font-family: Raleway;
    color: white;
    margin: 0;
    font-size: 14px;
    letter-spacing: 4px;
}

.we-pp {
    opacity: 1 !important;
    visibility: visible !important;
    user-select: none;
}

.we-pp-wrapper {
    background: none !important;
    box-shadow: none!important;
}

.we-pp-content {
    margin: 0 0 8px 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.we-pp-tip-cont {
    display: none;
}

.we-pm-icon {
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s all ease-in-out;
}


#nav {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    bottom: 16%;
    left: 50%;
    min-width: 400px;
    width: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playhead-info {
    font-size: 24px;
    margin-bottom: 24px;
}

#playhead-buttons {
    z-index: 1000;
    width: 400px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.playhead-buttons {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    color: white;
}

#stream-button {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #fd4c4c;
    border: none;
    right: 0;
    top: 15px;
    transition: .1s all ease-in-out;
}

#stream-label {
    display: none;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: white;
    right: 35px;
    top: 15px;
    margin: 0px 0px 0px 0px;
}

#stream-button:hover:active {
    transform: scale(0.9);
}